<div class="container">
  <h1>References and Resources for site</h1>
  <ul><a href="http://www.humanmetrics.com/cgi-win/jtypes2.asp">Personality Test/Jung Typology Test</a></ul>
  <ul><a href="http://easydamus.com/alignmenttest.html">Alignment Test</a></ul>
</div>

<div class="container" style="font-size:1.85em; color:slategray">
    <div class="row">
      <div class="col-md-6">
        <i class="fas fa-pencil-alt">fas fa-pencil-alt</i>
        <i class="fas fa-trash-alt">fas fa-trash-alt</i>
        <i class="fas fa-sign-in-alt">fas fa-sign-in-alt</i>
        <i class="fas fa-sign-out-alt">fas fa-sign-out-alt</i>
        <i class="fas fa-bookmark">fas fa-bookmark</i>
        <i class="fas fa-arrow-right">fas fa-arrow-right</i>
        <i class="fas fa-arrow-left">fas fa-arrow-left</i>
        <i class="fas fa-asterisk">fas fa-asterisk</i>
        <i class="far fa-circle">far fa-circle</i>
        <i class="fas fa-trophy">fas fa-trophy</i>
        <i class="fas fa-wine-glass">fas fa-wine-glass</i>
        <i class="far fa-bell">far fa-bell</i>
        <i class="fas fa-book">fas fa-book</i>
        <i class="fas fa-bolt">gas fa-bolt</i>
        <i class="fas fa-calculator">fas fa-calculator</i>
        <i class="far fa-calendar-alt">far fa-calendar-alt</i>
        <i class="fas fa-camera-retro">fas fa-camera-retro</i>
        <i class="far fa-clipboard">far fa-clipboard</i>
        <i class="far fa-comment">far fa-comment</i>
        <i class="fas fa-ellipsis-h">fas fa-ellipsis-h</i>
        <i class="fas fa-ellipsis-v">fas fa-ellipsis-v</i>
        <i class="fas fa-exclamation">fas fa-exclamation</i>
        <i class="far fa-file">far fa-file</i>
        <i class="far fa-file-alt">far fa-file-altx</i>
        <i class="fas fa-film">fas fa-film</i>
        <i class="fas fa-fire">fas fa-fire</i>
        <i class="far fa-flag">far fa-flag</i>
        <i class="fas fa-flask">fas fa-flask</i>
        <i class="fas fa-gamepad">fas fa-gamepad</i>
        <i class="fas fa-graduation-cap">fas fa-graduation-cap</i>
        <i class="fas fa-home">fas fa-home</i>
        <i class="far fa-lightbulb">far fa-lightbulb</i>
        <i class="fas fa-lock">fas fa-lock</i>
        <i class="fas fa-lock-open">fas fa-lock-open</i>
        <i class="fas fa-long-arrow-alt-right">fas fa-long-arrow-alt-right</i>
        <i class="fas fa-magic">fas fa-magic</i>
        <i class="far fa-map">far fa-map</i>
        <i class="fas fa-map-signs">fas fa-map-signs</i>
        <i class="far fa-paper-plane">far fa-paper-plane</i>
        <i class="fas fa-paw">fas fa-paw</i>
        <i class="fas fa-pause">fas fa-pause</i>
        <i class="fas fa-plus">fas fa-plus</i>
        <i class="fas fa-print">fas fa-print</i>
        <i class="fas fa-question-circle">fas fa-question-circle</i>
        <i class="far fa-question-circle">far fa-question-circle</i>
        <i class="fas fa-quidditch">fas fa-quidditch</i>
        <i class="fas fa-random">fas fa-random</i>
        <i class="fas fa-readme">fas fa-readme</i>
        <i class="fas fa-road">fas fa-road</i>
        <i class="fas fa-rocket">fas fa-rocket</i>
        <i class="fas fa-search">fas fa-search</i>
      </div>
  
      <div class="col-md-6">
          <i class="fas fa-shopping-basket">fas fa-shopping-basket</i>
        <i class="fas fa-sitemap">fas fa-sitemap</i>
        <i class="fas fa-sliders-h">fas fa-sliders-h</i>
        <i class="fas fa-smile">fas fa-smile</i>
        <i class="fas fa-star">fas fa-star</i>
        <i class="fas fa-star-half">fas fa-star-half</i>
        <i class="far fa-star">far fa-star</i>
        <i class="far fa-star-half">far fa-star-half</i>
        <i class="fas fa-sticky-note">fas fa-sticky-note</i>
        <i class="fas fa-suitcase">fas fa-suitcase</i>
        <i class="fas fa-table">fas fa-table</i>
        <i class="fas fa-tachometer-alt">fas fa-tachometer-alt</i>
        <i class="fas fa-tasks">fas fa-tssks</i>
        <i class="fas fa-tag">fas fa-tag</i>
        <i class="fas fa-sort-alpha-up">fas fa-alpha-up</i>
        <i class="fas fa-sort-alpha-down">fas fa-alpha-down</i>
        <i class="fas fa-sort-up">fas fa-sort-up</i>
        <i class="fas fa-sort-down">fas fa-sort-down</i>
        <i class="fas fa-spinner">fas fa-spinner</i>
        <i class="fas fa-thumbs-up">fas fa-thumbs-up</i>
        <i class="fas fa-thumbs-down">fas fa-thumbs-down</i>
        <i class="fas fa-times">fas fa-times</i>
        <i class="fas fa-thermometer-empty">fas fa-thermometer-empty</i>
        <i class="fas fa-thermometer-full">fas fa-thermometer-full</i>
        <i class="fas fa-thermometer-half">fas fa-thermometer-half</i>
        <i class="fas fa-thermometer-quarter">fas fa-thermometer-quarter</i>
        <i class="fas fa-toggle-off">fas fa-toggle-off</i>
        <i class="fas fa-toggle-on">fas fa-toggle-on</i>
        <i class="far fa-trash-alt">far fa-trash-alt</i>
        <i class="fas fa-truck-moving">fas fa-truck-moving</i>
        <i class="fas fa-umbrella">fas fa-umbrella</i>
        <i class="fas fa-university">fas fa-university</i>
        <i class="fas fa-user">fas fa-user</i>
        <i class="fas fa-user-edit">fas fa-edit</i>
        <i class="fas fa-user-secret">fas fa-secret</i>
        <i class="fas fa-user-tie">fas fa-user-tie</i>
        <i class="fas fa-vial">fas fa-vial</i>
        <i class="fas fa-wrench">fas fa-wrench</i>
        <i class="fab fa-youtube">fab fa-youtube</i>
        <i class="fab fa-facebook">fab fa-facebook</i>
        <i class="fab fa-google">fab fa-google</i>
        <i class="fab fa-superpowers">fab fa-superpowers</i>
        <i class="fas fa-address-book">fas fa-x</i>
        <i class="far fa-address-book">far fa-x</i>
        <i class="fab fa-github">fab fa-github</i>
        <i class="fab fa-github-alt">fab fa-github-alt</i>
        <i class="fab fa-github-square">fab fa-github-square</i>
        <i class="far fa-flag">far fa-flag</i>
        <i class="far fa-gem">far fa-gem</i>
      </div>
    </div>
  </div>
