<div class="container">
    <form #userForm="ngForm"   (ngSubmit)="onSave(userForm.value)" novalidate>
      <div class="form-inline">
        <div class="form-group mx-sm-6 mb-4">
            <input name="id" type="hidden" [(ngModel)]="id" />  
            <label for="firstName">First Name</label>
            <input name="firstName" id="firstName" type="text"  aria-describedby="nameHelp" class="form-control" placeholder="Enter first name" required  [(ngModel)]="firstName" />
        </div>
        <div class="form-group mx-sm-6 mb-4">
            <label for="lastName">Last Name</label>
            <input name="lastName" id="lastName" type="text"  aria-describedby="nameHelp" class="form-control" placeholder="Enter last name" required  [(ngModel)]="lastName" />
        </div>
        <div class="form-group mx-sm-6 mb-4">
            <label for="birthdate">Birth Date</label>
            <input name="birthdate" id="birthdate" type="text"  aria-describedby="birthdateHelp" class="form-control" placeholder="MM/DD/YYYY" required  [(ngModel)]="birthdate" />
        </div>
      </div>

      <div class="form-group mx-sm-6 mb-4">
          <label for="nickname">Nickname</label>
          <input name="nickname" required  type="text" class="form-control" id="nickname" aria-describedby="nicknameHelp" placeholder="What do you want to be called?" required [(ngModel)]="nickname" />
      </div>

      <div class="form-inline">
        <div class="form-group mx-sm-6 mb-4">
            <label for="phone">Phone</label>
            <input name="phone" required  type="text" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="Enter phone number" required [(ngModel)]="phone" />
        </div>
        <div class="form-group mx-sm-6 mb-4">
            <label for="email">Email</label>
            <input name="email" required  type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required [(ngModel)]="email" />
        </div>
        <div class="form-group mx-sm-6 mb-4">
            <label for="password">Password</label>
            <input name="password" required  type="password"  class="form-control" id="password" placeholder="Password" [(ngModel)]="password" />
        </div>
      </div>
      <small class="form-text text-muted">Is "myForm" valid? {{userForm.valid}}</small>

      <button type="submit" class="btn btn-primary">{{valbutton}}</button>
    </form>
  </div>
    
  <div class="container">
    <table border='1' class = "table table-bordered table-striped table-hover">  
      <tr>  
        <td>Id</td>  
        <td>First Name</td>
        <td>Last Name</td> 
        <td>Birth Date</td> 
        <td>Nickname</td>
        <td>Phone Number</td>
        <td>Email</td>  
        <td>Password</td>
        <td>Edit</td>  
        <td>Delete</td>  
      </tr>  
  
      <tr *ngFor="let temp of Repdata;let ind = index">     
        <td>{{ind + 1}}</td>  
        <td>{{temp.firstName}}</td> 
        <td>{{temp.lastName}}</td> 
        <td>{{temp.birthdate}}</td>
        <td>{{temp.nickname}}</td>
        <td>{{temp.phone}}</td>
        <td>{{temp.email}}</td>  
        <td>{{temp.password}}</td>  
        <td>
          <button (click)="edit(temp)" class="btn btn-info"><i class="fas fa-pencil-alt"></i></button>
        </td>  
        <td>
          <button (click)="delete(temp._id)" class = "btn btn-danger"><i class="fas fa-trash-alt"></i></button>
        </td>  
      </tr>  
    </table>  
  </div>
